@font-face {
    font-family: "iranyekanwebregular";
    src: url("../font/ttf/iranyekanwebregular.ttf") format("ttf");
    src: url("../font/eot/iranyekanwebregular.eot");
    src: url("../font/woff/iranyekanwebregular.woff") format("woff"), /* url("../font/IRANYekanWeb.otf") format("opentype"), */
    url("../font/svg/iranyekanwebregular.svg") format("svg");
}

@font-face {
    font-family: "iranyekanwebbold";
    src: url("../font/ttf/iranyekanwebbold.ttf") format("ttf");
    src: url("../font/eot/iranyekanwebbold.eot");
    src: url("../font/woff/iranyekanwebbold.woff") format("woff"), url("../font/svg/iranyekanwebbold.svg") format("svg");
}

@font-face {
    font-family: "Weblogma";
    font-style: normal;
    src: url('../font/weblogma_yekan/fonts/Weblogma_Yekan.otf');
}

@font-face {
    font-family: 'YekanBakh';
    font-style: normal;
    src: url('../font/number_font/Yekan\ Bakh\ FaNum\ 04\ Regular.ttf');
}

@font-face {
    font-family: 'DanaNum';
    font-style: normal;
    src: url('../font/number_font/Dana-FaNum-Regular.ttf')
}

html {
    background-color: #F7F7F7;
    height: 100vh;
    font-size: 100%;
    scroll-behavior: smooth;
}

@media screen and (max-width: 510px) {
    html {
        background-color: #F9FAFA;
    }
}

#id {
    background-color: rgb(255, 255, 255);
    /* height: 93vh; */
}

@media screen and (max-width: 510px) {
    #id {
        background-color: #F9FAFA;
        height: 93vh;
    }
}

body {
    font-family: iranyekanwebregular;
    direction: rtl;
    text-align: right;
    padding-bottom: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    font-family: 'YekanBakh' !important;
}

input {
    font-family: 'YekanBakh' !important;
}

a {
    text-decoration: none;
}

body,
p,
button,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
NavLink {
    font-family: iranyekanwebregular;
}

a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.me-container {
    padding: 0 130px;
}

.darato-waiting {
    font-size: 24px;
    font-weight: bold;
    color: #14CEA9;
}

.has-text-extra-bold {
    font-weight: 800 !important;
}


/* @media screen and (min-width: 1500px) {
    .me-container {
        padding: 0 300px;
    }
} */


/* @media screen and (max-width: 1280px) {
    .me-container {
        padding: 0 130px;
    }
} */

@media screen and (max-width: 510px) {
    /* .me-container,
    .mobile-container {
        padding: 0 10px;
    } */
}

.d-head-text7 {
    font-size: 18px;
}

.d-head-text6 {
    font-size: 20px;
}

.d-head-text5 {
    font-size: 24px;
}

.d-head-text4 {
    font-size: 32px;
}

.d-head-text3 {
    font-size: 48px;
}

.d-head-text2 {
    font-size: 60px;
}

.d-head-text1 {
    font-size: 96px;
}

.d-text4 {
    font-size: 10px;
}

.d-text3 {
    font-size: 12px;
}

.d-text2 {
    font-size: 14px;
}

.d-text1 {
    font-size: 16px;
}

.b-text,
.d-text1,
.d-text2,
.d-text3,
.d-text4,
.d-head-text1,
.d-head-text2,
.d-head-text3,
.d-head-text4,
.d-head-text5,
.d-head-text6,
.d-head-text6,
.d-head-text7 {
    color: #4C4E53 !important;
    font-family: iranyekanwebregular;
}


/* @media screen and (max-width: 510px) {
    .darato-gray-btn,
    .darato-green-btn {
        padding: 6px 15.5px;
    }
    .d-head-text7 {
        font-size: 16px;
    }
    .d-head-text6 {
        font-size: 18px;
    }
    .d-head-text5 {
        font-size: 20px;
    }
    .d-head-text4 {
        font-size: 24px;
    }
    .d-head-text3 {
        font-size: 32px;
    weight    font-size: 10px;
    }
    .d-text2 {
        font-size: 12px;
    }
    .d-text1 {
        font-size: 14px;
    }
} */

.bg-white {
    background-color: #ffffff;
}

.text-white {
    color: #ffffff !important;
}

.text-green {
    color: #14cea9 !important;
}

.text-highlight-green {
    color: #96E9D8 !important;
}

.text-light-green {
    color: #48D8BC !important;
}

.text-dark-green {
    color: #11B796 !important;
}

.bg-green {
    background-color: #14cea9;
}

.text-gray {
    color: #7B838F !important;
}

.text-light-gray {
    color: #ABB2BD !important;
}

.text-dark-gray {
    color: #67707D !important;
}

.bg-gray {
    background-color: #fafbfb;
}

.text-gold {
    color: #eecf8a !important;
}

.bg-gold {
    background-color: #eecf8a;
}

.text-golden {
    color: #E2930E !important;
}

.text-dark-golden {
    color: #D77600 !important;
}

.text-orange-golden {
    color: #DF8552 !important;
}

.text-light-golden {
    color: #F3B796 !important;
}

.bg-golden {
    background-color: #E2930E;
}

.text-green-bordered {
    border: 1px solid #14CEA9;
    padding: 6.5px;
}

.text-gold-bordered {
    border: 1px solid #EECF8A;
    padding: 6.5px;
}

.text-new-red {
    color: #F28A82 !important;
}

.bg-new-red {
    background-color: #F28A82;
}

.text-new-blue {
    color: #8AA9EE !important;
}

.bg-new-blue {
    background-color: #8AA9EE;
}

.darato-green-xlg-btn,
.darato-green-outline-xlg-btn,
.darato-green-lg-btn,
.darato-green-outline-lg-btn,
.darato-green-md-btn,
.darato-green-outline-md-btn,
.darato-green-sm-btn,
.darato-green-outline-sm-btn,
.darato-green-pasive-xlg-btn,
.darato-green-pasive-lg-btn,
.darato-green-pasive-md-btn,
.darato-green-pasive-sm-btn {
    display: inline-block;
    height: 48px;
    border-radius: 4px;
    font-weight: 500;
    padding: 13px 0;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    outline: 0;
    border: 0;
    color: white;
    border: 2px solid #14CEA9;
}

.darato-green-xlg-btn,
.darato-green-outline-xlg-btn,
.darato-green-pasive-xlg-btn {
    width: 176px;
}

.darato-green-lg-btn,
.darato-green-outline-lg-btn,
.darato-green-pasive-lg-btn {
    width: 160px;
}

.darato-green-md-btn,
.darato-green-outline-md-btn,
.darato-green-pasive-md-btn {
    width: 148px;
}

.darato-green-sm-btn,
.darato-green-outline-sm-btn,
.darato-green-pasive-sm-btn {
    width: 124px;
}

.darato-green-xlg-btn,
.darato-green-lg-btn,
.darato-green-md-btn,
.darato-green-sm-btn {
    background-color: #14CEA9;
}

.darato-green-outline-xlg-btn,
.darato-green-outline-lg-btn,
.darato-green-outline-md-btn,
.darato-green-outline-sm-btn {
    border: 2px solid #14CEA9;
    background-color: white;
    color: #14CEA9;
}

.darato-green-pasive-xlg-btn,
.darato-green-pasive-lg-btn,
.darato-green-pasive-md-btn,
.darato-green-pasive-sm-btn {
    border: 2px solid #F1F2F4;
    background-color: #F1F2F4;
    color: #D5D8DE;
    cursor: default;
}

.bordered-green {
    border-radius: 4px;
    border: solid 2px #14cea9;
}

.bordered-gold {
    border-radius: 4px;
    border: solid 2px #eecf8a;
}

.me-valid-message {
    color: red;
    font-size: 10px;
    text-align: right;
}

.me-input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    justify-content: center;
}

.me-input-container input {
    height: 56px;
}

.me-input-with-label {
    padding: 19px;
    outline: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow: none !important;
    border: 1px solid #C7CBD3;
    border-left: 0;
    font-size: 14px;
    background-color: white;
}

.me-input-with-label:focus {
    border: 1.45px #14cea9 solid;
    border-left: 0;
}

.me-input-container select:focus {
    outline: none;
    border: 1.45px #14cea9 solid !important;
}

.me-input-with-label:focus+.me-label-for-input {
    border: 1.45px #14cea9 solid;
    border-right: 0;
}

.me-label-for-input {
    font-size: 14px;
    padding: 16.5px 16.5px 16.5px 12px;
    color: rgb(126, 126, 126);
    min-width: 50px;
    height: 56px;
    text-align: center;
    border: 1px solid #C7CBD3;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
}

.mobile-container form .me-form-control input {
    height: 56px;
    border: 1px solid #C7CBD3;
    border-radius: 5px;
    padding: 15px;
    display: block;
    margin: 18px auto 0;
    font-size: 14px;
    background-color: white;
}

@media screen and (max-width: 510px) {
    .me-input-container input {
        height: 46px;
    }
    .me-label-for-input {
        font-size: 12px;
        padding: 14px;
        height: 46px;
    }
    .mobile-container form .me-form-control input {
        height: 48px;
        border: 1px solid #F1F2F4;
        margin: 8px auto 0;
    }
}